@import "imports";
@import "compass";

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

@media screen {

	hr {
		background-color: #ccc;
		border: 0;
		height: 1px;
		margin-bottom: 1.5em;
	}
	ul, ol {
		margin: 0 0 1.5em 3em;
	}
	ul {
		list-style: none;
	}
	ol {
		list-style: none;
	}
	li > ul,
	li > ol {
		margin-bottom: 0;
		margin-left: 1.5em;
	}
	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 1.5em 1.5em;
	}
	img {
		height: auto; /* Make sure images are scaled correctly. */
		max-width: 100%; /* Adhere to container width. */
	}
	figure {
		margin: 0;
	}
	table {
		margin: 0 0 1.5em;
		width: 100%;
	}
	th {
		font-weight: bold;
	}
	td {
		a img {
			float: left;
			padding-right: 1em;
		}
		padding: 1em 1em 1em 0;
	}
	
	/*--------------------------------------------------------------
	Alignments
	--------------------------------------------------------------*/
	/*.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}
	.aligncenter {
		clear: both;
		display: block;
		margin: 0 auto;
	}*/

	/*--------------------------------------------------------------
	Clearings
	--------------------------------------------------------------*/
	/*.clear:before,
	.clear:after,
	.entry-content:before,
	.entry-content:after,
	.comment-content:before,
	.comment-content:after,
	.site-header:before,
	.site-header:after,
	.site-content:before,
	.site-content:after,
	.site-footer:before,
	.site-footer:after {
		content: '';
		display: table;
	}

	.clear:after,
	.entry-content:after,
	.comment-content:after,
	.site-header:after,
	.site-content:after,
	.site-footer:after {
		clear: both;
	}*/

	/*--------------------------------------------------------------
	Widgets
	--------------------------------------------------------------*/
 	.widget {
		padding: 5%;
		margin-bottom: 1em;
	}
	/* Make sure select elements fit in widgets */
	.widget select {
		max-width: 100%;
	}

	/*--------------------------------------------------------------
	Posts and pages
	--------------------------------------------------------------*/
	.sticky {
	}
	.hentry {
		margin: 0 0 1.5em;
	}
	.byline,
	.updated {
		display: none;
	}
	.single .byline,
	.group-blog .byline {
		display: inline;
	}
	.page-content,
	.entry-content,
	.entry-summary {
		margin: 0 0 1.5em;
	}
	.entry-content {
		position:relative;
	}
	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}

	/*--------------------------------------------------------------
	Asides
	--------------------------------------------------------------*/
	.blog .format-aside .entry-title,
	.archive .format-aside .entry-title {
		display: none;
	}

	/*--------------------------------------------------------------
	Comments
	--------------------------------------------------------------*/
	.comment-content a {
		word-wrap: break-word;
	}
	.bypostauthor {
	}

	/*--------------------------------------------------------------
	Infinite scroll
	--------------------------------------------------------------*/
	/* Globally hidden elements when Infinite Scroll is supported and in use. */
	/*.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
	/*.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
		/*display: none;
	}
	/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
	/*.infinity-end.neverending .site-footer {
		display: block;
	}/*

	/*--------------------------------------------------------------
	Media
	--------------------------------------------------------------*/
	.page-content img.wp-smiley,
	.entry-content img.wp-smiley,
	.comment-content img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
	.wp-caption {
		border: 1px solid #ccc;
		margin-bottom: 1.5em;
		max-width: 100%;
	}
	.wp-caption img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
	.wp-caption-text {
		text-align: center;
	}
	.wp-caption .wp-caption-text {
		margin: 0.8075em 0;
	}
	.site-main .gallery {
		margin-bottom: 1.5em;
	}
	.gallery-caption {
	}
	.site-main .gallery a img {
		border: none;
		height: auto;
		max-width: 90%;
	}
	.site-main .gallery dd,
	.site-main .gallery figcaption {
		margin: 0;
	}
	.site-main .gallery-columns-4 .gallery-item {
	}
	.site-main .gallery-columns-4 .gallery-item img {
	}
	/* Make sure embeds and iframes fit their containers */
	embed,
	iframe,
	object {
		max-width: 100%;
	}
	html {
		position: relative;
	}

	/*	Main content */

	.content-area {
		padding: 5%;
	}
	.quotes {
		margin: 0 0 1.563em;
		width: 100%;
	}
	.mugshot {
		height: 12.5em;
		margin: 0 auto 1em;
		width: 14.8em;
		background-size: cover;
	}
	.icon-facebook,
	.icon-instagram {
		background-size: cover;
		bottom: .563em;
		display: block;
		height: 1.423em;
		position: absolute;
		right: 1.563em;
		width: 1.423em;
	}
	.icon-instagram {
		right: 3.563em;
	}
	.widget-area {
		ul {
			margin: 0;
			padding: 0;
			li a {
				display: block;
				padding-bottom: .512em;
			}
		}
	}

	/* Header and footer */

	.site-title,
	.site-description {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
	}
	.site-header {
		height: 16.563em;
		background-size: cover;
		background-position: center center;
		padding-top: 4em;
		position: relative;
	}
	.site-branding {
		background-size: contain;
		background-position: center center;
		height: 10.5em;
	}
	.site-footer {
		padding: 5%;
	}

}

@media screen and (min-width: $small) {

	.site-header {
		height: 22.738em;
	}
	.site-branding {
		height: 16em;
	}
	.icon-facebook,
	.icon-instagram {
		height: 1.563em;
		width: 1.563em;
	}
	.quotes {
		clear: left;
		float: left;
		margin: 0 1.563em 1.563em 0;
		width: 14.8em;
	}
	.mugshot {
		float: left;
		height: 9em;
		margin: 0 1.563em 1em 0;
		width: 11.5em;
	}

}

@media screen and (min-width: $medium) {
	
	.site-header {
		height: 28.25em;
		padding-top: 3em;
	}
	.site-branding {
		height: 22em;
	}

}

@media screen and (min-width: $large) {

	.site-footer {
		padding: 1.25em 0;
	}	

	/*	Main content */

	.content-area,
 	.widget-area,
	.site-info	{
		margin: 1.25em auto;
		padding: 0;
		width: 51em;
	}
	.content-area {
		padding-top: 3.815em;
	}


}

@media screen and (min-width: 75em) { 

	.quotes {
		position: absolute;
		top: 0em;
		right: -12.75em;
		width: 9em;
	}
	.mugshot {
		position: absolute;
		top: 0em;
		left: -11em;
		width: 9em;
	}

}
