@import "imports";
@import "compass";

/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/

/* Typography */


.main-navigation {
	a {
		text-decoration: none;
	}
	ul {
		li {
			@include v-pixel-fallback ('font-size', 1.25rem);
		}
	}
	ul ul {
		li {
			line-height: 1;
			@include v-pixel-fallback ('font-size', .8rem);
		}
	}
}
.menu,
.skip-link,
.ac-NavAnchor {
	font-family: $slackey;
}
.menu-toggle,
.ac-NavAnchor--top{
	@include v-pixel-fallback ('font-size', 1.563rem);
	line-height: 1;
}

@media screen and (min-width: $large) {

	.main-navigation {
		ul {
			li {
				@include v-pixel-fallback ('font-size', .911rem);
			}
		}
		ul ul {
			li a {
				@include v-pixel-fallback ('font-size', .728rem);
			}
		}
	}

}

/* Layout */

@media screen {

	.main-navigation {
		display: block;
		width: 100%;
		padding: 5%;
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
		}
		li a {
			display: block;
			@include v-pixel-fallback ('padding', .5rem);
		}
		ul ul li a {
			@include v-pixel-fallback ('padding-left', 1.953rem);
		}
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}	
	.menu-toggle {
		position: absolute;
		@include v-pixel-fallback ('top', 1.563rem);
		@include v-pixel-fallback ('right', 1.563rem);
	}
	.site-main .comment-navigation,
	.site-main .paging-navigation,
	.site-main .post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.comment-navigation .nav-previous,
	.paging-navigation .nav-previous,
	.post-navigation .nav-previous {
		float: left;
		width: 50%;
	}
	.comment-navigation .nav-next,
	.paging-navigation .nav-next,
	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

@media screen and (min-width: $large) {

	.menu-toggle,
	.main-navigation.toggled .nav-menu,
 	.ac-NavAnchor--top	{
		display: none;
	}
	.menu >	ul {
			width: 52em;
			margin: 0 auto;
	}
	.main-navigation {
		padding: 0;
		position: absolute;
		top: 28.2em;
		li {
			float: left;
			position: relative;
		}
		ul li:hover > ul {
			display: block;
		}
		ul ul {
			display: none;
			float: left;
			left: 0;
			@include v-pixel-fallback ('padding', .5rem);
			position: absolute;
			top: 2.65em;
			z-index: 99999;
			li a {
				@include v-pixel-fallback ('padding-left', .5rem);
			}
		}
	}

}

/* Color */

.ac-NavAnchor {
	@include link-colors($salmon, #fff, #fff, $salmon, #fff);
}
.ac-NavAnchor--top {
	@include link-colors($darkPurple, #fff, #fff, $darkPurple, #fff);
}
.main-navigation {
	background:	$salmon;
 	a {
		@include link-colors($darkPurple, #fff, #fff, $darkPurple, #fff);
		border-bottom: none;
		box-shadow: none;
	}
	.current_page_item a,
	.current-menu-item a {
		@include link-colors(#fff, $darkPurple, $darkPurple, #fff, $darkPurple);
	}
	ul ul {
		a {
			@include link-colors($mediumPurple, #fff, #fff, $mediumPurple, #fff);
		}
	}
}

@media screen and (min-width: $large) {
	.main-navigation {
		ul ul {
			a {
				@include link-colors($salmon, #fff, #fff, $salmon, #fff);
			}
			background: $mediumPurple;
		}
	}
}
